
<!DOCTYPE html>
<html>
<head>
    @*<base href="/">*@
    <title>Erp Application : @ViewBag.Title</title>
    <link href="~/node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/node_modules/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header class="Header">
        <nav class="navbar navbar-dark bg-dark navbar-expand-md sticky-top">
            <h2 class="navbar-brand"><i class="fa fa-graduation-cap"></i> The team team Graduation Project</h2>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#theMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="theMenu" class="navbar-collapse collapse">
                <ul class="navbar-nav">
                   
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="NodeLang" asp-action="Monitoring_Deployer"><i class="fa fa-home"></i>Monitoring</a>
                    </li>

                    

                </ul>
            </div>
        </nav>
    </header>

    <section>
        <!-- <h2 class="text-left">@ViewBag.Title</h2>-->
        @RenderBody()
    </section>
    <footer class="container">
        <div class="text-center">Copyright 2019 Phyzia llc </div>
    </footer>
    <script src="~/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
  
    @RenderSection("scripts", false)
</body>
</html>