@model BpmWorkFlow
@section Scripts
{
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/monitoringDeploy.js"></script>

}

<div style="background-color:aqua; float:left">
    <form id="uploadWorkflow" method="post" asp-controller="NodeLang" asp-action="UploadWorkFlow">
        <div class="form-group">
            <div class="col-md-10">
                <p>Invoke WorkFlow</p>
                <input type="text" asp-for="workflowName" name="workflowName" multiple>

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Deploy">
            </div>
        </div>
    </form>
    <textarea name="comment" asp-for="workFlowParam" form="uploadWorkflow">Enter parameters here </textarea>

    
</div>
<div style="float:left">
    <ul id="workFlows"></ul>
</div>
